@model List<Tests.Models.SubjectViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Название предмета</th>
            <th>Количество тестов</th>
            <th class="actions">Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in Model)
        {
            <tr>
                <td>@subject.TitleSubject</td>
                <td>@subject.Tests.Count</td>
                <td class="actions">
                    <a href="@Url.Action("Create", "TestCreate", new { subjectid = subject.id })" class="btn btn-primary btn-custom">Изменение тестов предмета</a>
                    <form method="post" action="@Url.Action("Delete", "TestCreate")">
                        <input type="hidden" name="SubjectId" value="@subject.id" />
                        <button type="submit" class="btn btn-danger btn-custom">Удаление</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
